- var pageName = 'Pokémon Center'
- var navSections = ['Sobre', 'Conhecimentos', 'Projetos', 'Contato']
- var contactValue = ['Numero: ']
- var gt = ' github'
doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="description", content="Pokémons são incriveis, veja o porque!!")
		title= pageName
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Kanit&display=swap")
		link(rel="stylesheet", href="./assets/style/style.scss")
	body
		.wip 
			p.wip__text WIP: Portifolio em desenvolvimento, visite o #[a(href="https://github.com/SS-Cat/") github].
			.wip__close-button

		header.navigationbar

			//- nuvens
			img(src="./assets/img/cloud1.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud2.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud3.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud1.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud2.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud3.svg", alt="nuvem para animação").navigationbar__cloud

			//- topo do pokecenter
			.navigationbar__img-wrapper
				img(src="./assets/img/centerTop.svg", alt="menu central da pagina").navigationbar__img
				img(src="./assets/img/pokeball.svg", alt="botao em formato de pokebola no menu da pagina").navigationbar__pokeball

			//- menu computador
			.navigationbar__nav__pc
				nav.navigationbar__nav
					ul.navigationbar__list
						each value in navSections
							li
								a(href="#" + value).navigationbar__list__item= value
				
			//- aonde aparece o pokemon aleatorio
			.navigationbar__pokemon

		//- menu mobile
		input(type="checkbox")#button.navigationbar__mobile-menu__button
		label(for="button").navigationbar__mobile-menu__label Menu
		.navigationbar__mobile-menu__content
			nav.navigationbar__nav
				ul.navigationbar__list
					each value in navSections
						li.navigationbar__list__item
							a(href="#" + value).navigationbar__list__item= value

		
		main.content-body
			each value in navSections
				section(id=value).content-body__section

		footer.page-footer
			.page-footer__container--wall
				img(src="./assets/img/pokecenterEnter/wall1.svg", alt="footer da pagina").page-footer__left-wall
				img(src="./assets/img/pokecenterEnter/wall1.svg", alt="footer da pagina").page-footer__right-wall
				.page-footer__center-wall
			.page-footer__container
				img(src="./assets/img/pokecenterEnter/letter.svg", alt="").page-footer__letreiro
			.page-footer__container
				img(src="./assets/img/pokecenterEnter/door.svg", alt="porta do footer").page-footer__door
			.page-footer__container
				img(src="./assets/img/pokecenterEnter/char.svg", alt="personagens").page-footer__personagens
			.page-footer__container--window
			
				a(href="mailto:ivensjoris@infojr.com.br").page-footer__window
					img(src="./assets/img/pokecenterEnter/window-gmail.svg", alt="").page-footer__img-link
				a(href="https://github.com/SS-Cat/").page-footer__window
					img(src="./assets/img/pokecenterEnter/window-github.svg", alt="").page-footer__img-link
				a(href="https://www.instagram.com/ivensauro/").page-footer__window
					img(src="./assets/img/pokecenterEnter/window-instagram.svg", alt="").page-footer__img-link
				a(href="https://twitter.com/SSCat__").page-footer__window
					img(src="./assets/img/pokecenterEnter/window-twitter.svg", alt="").page-footer__img-link

		script(src="./assets/js/index.js")
