- var pageName = 'Pokémon Center'
- var navSections = ['Sobre', 'Conhecimentos', 'Projetos', 'Contato']
- var contactValue = ['Numero: ']

doctype html
html(lang="pt-br")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="description", content="Pokémons são incriveis, veja o porque!!")
		title= pageName
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Kanit&display=swap")
		link(rel="stylesheet", href="./assets/style/style.scss")
	body
		header.navigationbar
			img(src="./assets/img/cloud1.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud2.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud3.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud1.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud2.svg", alt="nuvem para animação").navigationbar__cloud
			img(src="./assets/img/cloud3.svg", alt="nuvem para animação").navigationbar__cloud

			.navigationbar__img-wrapper
				img(src="./assets/img/centerTop.svg", alt="menu central da pagina").navigationbar__img
				img(src="./assets/img/pokeball.svg", alt="botao em formato de pokebola no menu da pagina").navigationbar__pokeball

			.navigationbar__nav__pc
				nav.navigationbar__nav
					ul.navigationbar__list
						each value in navSections
							li
								a(href="#" + value).navigationbar__list__item= value
				
			.navigationbar__pokemon

		input(type="checkbox")#button.navigationbar__mobile-menu__button
		label(for="button").navigationbar__mobile-menu__label Menu
		.navigationbar__mobile-menu__content
			nav.navigationbar__nav
				ul.navigationbar__list
					each value in navSections
						li.navigationbar__list__item
							a(href="#" + value).navigationbar__list__item= value

		
		main.content-body
			each value in navSections
				section(id=value).content-body__section

		footer.page-footer
			section
				ul
					each value in contactValue
						li= value
			section

		script(src="./assets/js/index.js")
