$red: #e74c3c;
$red2: #be1e02ff;
$silver: #bdc3c7;
$blue: #2980b9;
$purple: #9b59b6;
$white: #ecf0f1;

$nav-height: 45%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
}

.img-wrapper {
  width: 400px;
  height: 400px;
  overflow: hidden;

  &__img {
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.content-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__section {
    height: 50vh;
  }
}

.page-footer {
  flex-shrink: 0;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  background: darken(#c4cfde, 0%);
  position: relative;
  overflow: hidden;

  &__left-wall {
    height: 100%;
    transform: scaleX(-1);
    z-index: 2;
    position: absolute;
    left: 0;
  }
  &__right-wall {
    height: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
  }
  &__center-wall {
    z-index: 1;
    left: 2%;
    align-self: flex-end;
    position: absolute;
    height: 100%;
    width: 90vw;
    background: url("../img/pokecenterEnter/wall3.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
  &__door {
    z-index: 3;
    height: 35vh;
    align-self: flex-end;
  }
  &__container {
    z-index: 3;
    width: 100%;
    height: 60vh;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;

    &--wall {
      z-index: unset;
      width: 100vw;
      justify-content: space-around;
    }

    &--window {
      justify-content: space-around;
    }
  }
  &__letreiro {
    z-index: 3;
    position: absolute;
    left: 20%;
    bottom: 30%;
  }
  &__personagens {
    align-self: flex-end;
    z-index: 3;
    height: 46%;
    margin-right: 2rem;
  }
  &__img-link {
    height: 25%;
  }
  &__window {
    z-index: 3;
    position: absolute;
    top: 15%;
    height: 100%;

    &:nth-child(1) {
      left: 20%;
    }
    &:nth-child(2) {
      left: 30%;
    }
    &:nth-child(3) {
      left: 70%;
    }
    &:nth-child(4) {
      left: 80%;
    }
  }
}

.navigationbar {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  background: $blue;
  color: $white;

  &__cloud {
    position: absolute;
    height: 25%;

    &:nth-child(1) {
      top: 0%;
      animation: cloud 120s linear 0s infinite;
    }
    &:nth-child(2) {
      top: 15%;
      left: -25%;
      animation: cloud 120s linear 90s infinite;
    }
    &:nth-child(3) {
      top: 28%;
      left: -25%;
      animation: cloud 120s linear 8s infinite;
    }
    &:nth-child(4) {
      top: 0%;
      left: -25%;
      animation: cloud 120s linear 20s infinite;
    }
    &:nth-child(5) {
      top: 26%;
      left: -25%;
      animation: cloud 120s linear 40s infinite;
    }
    &:nth-child(6) {
      top: 19%;
      left: -25%;
      animation: cloud 120s linear 60s infinite;
    }
    @keyframes cloud {
      from {
        left: -25%;
      }
      to {
        left: 100%;
      }
    }
  }

  &__img-wrapper {
    height: $nav-height;
    border-radius: 5% 5% 0 0;
    width: 100vw;
    background: $red2;
    display: flex;
    justify-content: center;
  }

  &__img {
    position: relative;
    top: -52%;
    height: 150%;
  }

  &__pokeball {
    position: absolute;
    height: 43%;
    z-index: 2;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: rotate(360deg);
    }
  }

  &__nav {
    height: $nav-height;
    position: absolute;
    left: 2%;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style: none;
    color: $white;
    &__item {
      border: solid $white 2px;
      border-radius: 20px;
      padding: 0.5rem 0.7rem;
      margin: 0 10px;
      text-decoration: none;
      color: $white;

      &:hover {
        background: $white;
        color: $red;
      }
    }
  }

  &__pokemon {
    height: $nav-height;
    width: 20%;

    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__mobile-menu {
    &__button {
      display: none;
    }
    &__label {
      display: none;
    }
    &__content {
      display: none;
    }
  }
}

@media screen and (max-width: 1120px) {
  .navigationbar {
    height: 70vh;

    &__cloud {
      height: 20%;
    }

    &__img {
      top: -40%;
      height: 100%;
    }

    &__pokeball {
      height: 30%;
    }

    &__pokemon {
      justify-content: flex-start;
    }

    &__nav {
      height: $nav-height;
      bottom: 4%;
      left: 0;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
    }
  }
}

@media screen and (max-width: 1150px) {
  .page-footer {
    &__img-link {
      height: 20%;
    }
    &__window {
      &:nth-child(1) {
        left: 10%;
      }
      &:nth-child(3) {
        left: 60%;
      }
    }
  }
}

@media screen and (max-width: 590px) {
  .page-footer {
    &__left-wall,
    &__right-wall {
      display: none;
    }
    &__img-link {
      height: 15%;
    }
    &__letreiro {
      left: 2%;
    }
    &__window {
      &:nth-child(1) {
        left: 5%;
      }
      &:nth-child(2) {
        left: 25%;
      }
      &:nth-child(3) {
        left: 55%;
      }
      &:nth-child(4) {
        left: 75%;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  $nav-height: 30%;
  .navigationbar {
    &__img-wrapper {
      height: $nav-height;
    }
    &__pokemon {
      height: $nav-height;
    }
    &__nav {
      height: unset;
      position: unset;
      left: unset;
      bottom: unset;
      display: unset;
      align-items: unset;
      &__pc {
        display: none;
      }
    }

    &__list {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      background: $red;
      color: $white;
      &__item {
        text-align: center;
        width: 100%;
        border: unset;
        border-top: solid $red2 2px;
        border-radius: unset;
        padding: 1rem;
        margin: unset;
        text-decoration: unset;
        color: unset;
        &:hover {
          background: $white;
          color: $red2;
        }
      }
    }

    &__mobile-menu {
      &__button {
        display: none;
        &:checked {
          + .navigationbar__mobile-menu__label {
            &::after {
              transform: rotate(90deg);
            }
          }
          ~ .navigationbar__mobile-menu__content {
            overflow: unset;
            height: 10rem;
            max-height: 100vh;
            padding: 1em;
          }
        }
      }
      &__label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: $red;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          background: darken($red, 10%);
        }
        &::after {
          content: "\276F";
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all 0.35s;
        }
      }
      &__content {
        display: flex;
        max-height: 0;
        overflow: hidden;
        position: relative;
        color: $red;
        transition: all 0.45s;
      }
    }
  }
}
