$red: #e74c3c;
$red2: #be1e02ff;
$silver: #bdc3c7;
$blue: #2980b9;
$purple: #9b59b6;
$white: #ecf0f1;

$nav-height: 45%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Kanit", sans-serif;
}

.img-wrapper {
  width: 400px;
  height: 400px;
  overflow: hidden;

  &__img {
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.content-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__section {
    height: 50vh;
  }
}

.page-footer {
  flex-shrink: 0;
  height: 40vh;
  background: url("/assets/img/footer.jpg");
  filter: brightness(0.4) blur(1px) grayscale(50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigationbar {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  background: $blue;
  color: $white;

  &__cloud {
    position: absolute;
    height: 25%;

    &:nth-child(1) {
      top: 0%;
      animation: cloud 120s linear 0s infinite;
    }
    &:nth-child(2) {
      top: 15%;
      left: -25%;
      animation: cloud 120s linear 90s infinite;
    }
    &:nth-child(3) {
      top: 28%;
      left: -25%;
      animation: cloud 120s linear 8s infinite;
    }
    &:nth-child(4) {
      top: 0%;
      left: -25%;
      animation: cloud 120s linear 20s infinite;
    }
    &:nth-child(5) {
      top: 26%;
      left: -25%;
      animation: cloud 120s linear 40s infinite;
    }
    &:nth-child(6) {
      top: 19%;
      left: -25%;
      animation: cloud 120s linear 60s infinite;
    }
    @keyframes cloud {
      from {
        left: -25%;
      }
      to {
        left: 100%;
      }
    }
  }

  &__img-wrapper {
    height: $nav-height;
    border-radius: 5% 5% 0 0;
    width: 100vw;
    background: $red2;
    display: flex;
    justify-content: center;
  }

  &__img {
    position: relative;
    top: -52%;
    height: 150%;
  }

  &__pokeball {
    position: absolute;
    height: 43%;
    z-index: 2;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: rotate(360deg);
    }
  }

  &__nav {
    height: $nav-height;
    position: absolute;
    left: 2%;
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    list-style: none;
    color: $white;
    &__item {
      border: solid $white 2px;
      border-radius: 20px;
      padding: 0.5rem 0.7rem;
      margin: 0 10px;
      text-decoration: none;
      color: $white;

      &:hover {
        background: $white;
        color: $red;
      }
    }
  }

  &__pokemon {
    height: $nav-height;
    width: 20%;

    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 1120px) {
  .navigationbar {
    height: 70vh;

    &__cloud {
      height: 20%;
    }

    &__img {
      top: -40%;
      height: 100%;
    }

    &__pokeball {
      height: 30%;
    }

    &__pokemon {
      justify-content: flex-start;
    }

    &__nav {
      height: $nav-height;
      position: absolute;
      bottom: 4%;
      left: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
    }
  }
}
